.wrap {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }
  .img {
    width: 100%;
    height: 5.53rem;
    background: url("../images/logo.png") no-repeat;
    background-size: 100%;
  }
  
  div .goBuy {
    width: 100%;
    height: 0.5rem;
    background-color: #eea835 !important;
    position: fixed;
    bottom: 0px;
    font-size: 0.17rem;
    color: #ffffff !important;
  
    line-height: 0.47rem;
    font-family: PingFang-SC-Bold;
    text-align: center;
  }